$base-font-size: 10px;
$base-font-family: Merriweather, serif;
$base-color: #3A4145;

$secondary-font-family: "Open Sans", sans-serif;

$heading-color: #2E2E2E;

$link-color: #4A4A4A;
$link-hover-color: #111;

$horizontal-rule-color: #EFEFEF;
